<!DOCTYPE html>
<html lang="en">

<head>
    <title>LogIn</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/home.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</head>
<body>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <nav class="navbar navbar-expand-lg navbar-light bg-primary" >
        <div class="collapse navbar-collapse" >
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item ">
              <a class="nav-link" href="/">Domov </a>
            </li>
           
            <% if (locals.user) { %>
              <li class="nav-item">
                <a class="nav-link" href="/narocila">Narocila</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
              
    
              <% } else{ %>
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
              </li>
              <% } %>
          </ul>
          <form class="form-inline my-2 my-lg-0" method="POST" action="">
            <input class="form-control mr-sm-2" name="uporabniskoime" id="uporabniskoime" type="search" placeholder="Search" aria-label="Isci">
            <button class="btn btn-default" type="submit" id="submit">Isci</button>
          </form>
        </div>
      </nav>
    

    <div class="container">
        <br><br><br>

        <form id="signup" method="POST">

            <div class="header">

                <h3>Login</h3>


            </div>

            <div class="col-sm-4">

            </div>

            <div class="sep"></div>

            <div class="inputs">

                <div class="alert alert-warning" role="alert">
                    Prosimo, izpolnite vsa polja!
                </div>

                <div class="form-group">
                    <label for="imeProdukta">Uporabnisko ime:</label>
                    <input type="text" class="form-control" name="uporabnisko_ime" id="uporabnisko_ime" placeholder="user_name" />
                </div>

                <div class="form-group">
                    <label for="imeProdukta">Geslo:</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="password" />
                </div>

                <!-- <label>Prijavljeni kot administrator? </label>
                <label for="chkYes">
                    <input type="radio" id="da" name="chk" onclick="admingeslo()" />
                    Da
                </label>
                <label for="chkNo">
                    <input type="radio" id="ne" name="chk" onclick="admingeslo()" />
                    Ne
                </label>
                <div id="dvtext" style="display: none">
                    Geslo za administrator:
                    <input type="password" id="txtBox" />
                </div> -->

                <br>

                <button type="submit" class="btn btn-primary"  id="submit" value = "Login">Login</button>
                <!-- <button class="btn btn-primary" type="submit" id="submit">Login</button> -->
                <button class="btn btn-primary" type="reset" id="submit">Zbrisi</button>

            </div>

        </form>
    </div>
    
    <footer  style="background-color: #007bff; width: 100%;">
        <div class="container">
          <p class="m-0 text-center text-white">Isidora Đoković - RIS </p>
        </div>
        <!-- /.container -->
      </footer>
</body>

</html>