<!DOCTYPE html>
<html lang="en">
<head>
    <title>Narocilo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/home.css" rel="stylesheet">
    <link href="/stylesheets/profil.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</head>
<body>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar-light bg-primary" >
    <div class="collapse navbar-collapse" >
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item ">
          <a class="nav-link" href="/">Domov </a>
        </li>
       
        <% if (locals.user) { %>
          <li class="nav-item">
            <a class="nav-link" href="/narocila">Narocila</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
          

          <% } else{ %>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
          </li>
          <% } %>
      </ul>
      <form class="form-inline my-2 my-lg-0" method="POST" action="">
        <input class="form-control mr-sm-2" name="uporabniskoime" id="uporabniskoime" type="search" placeholder="Search" aria-label="Isci">
        <button class="btn btn-default" type="submit" id="submit">Isci</button>
      </form>
    </div>
  </nav>


<div class="container bootstrap snippets bootdeys">
    <div class="row" id="user-profile">
        <% data.forEach(function(o) { %>

        <div class="col-lg-9 col-md-8 col-sm-8">
            <div class="main-box clearfix">
                <div class="profile-header">
                    <h3><span>Podrobnosti</span></h3>
                   
                </div>
              
                <div class="row profile-user-info">
                    <div class="col-sm-8">
                        
                        <div class="profile-user-details clearfix">
                          
                        </div>
                        <div class="profile-user-details clearfix">
                            <div class="profile-user-details-label">
                                Naslov
                            </div>
                            <div class="profile-user-details-value">
                                <%= o.naslov %>
                            </div>
                        </div>
                        <div class="profile-user-details clearfix">
                            <div class="profile-user-details-label">
                                Email
                            </div>
                            <div class="profile-user-details-value">
                                <%= o.elekstronski_naslov %>
                            </div>
                        </div>
                        <div class="profile-user-details clearfix">
                            <div class="profile-user-details-label">
                                Tel. stevilka
                            </div>
                            <div class="profile-user-details-value">
                                <%= o.tel_stevilka %>
                            </div>
                        </div>
                    </div>
                    <% }); %>
                </div>

                <div class="tabs-wrapper profile-tabs">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab-activity" data-toggle="tab">Narocila</a></li>
                    </ul>

                    <div class="tab-content">
                      
                           
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        <% nar.forEach(function(n) { %>
                                        <tr>
                                            <td class="text-center">
                                                <%=n.ime %> 
                                                <%=n.priimek %> 
                                            </td>
                                            <% if (n.naziv) { %>
                                                <td>
                                                    <%=n.naziv %> 
                                                   
                                                </td>
                                            <% } %>
                                                
                                           
                                          
                                            <td>
                                                <%= n.nacin_placila === '1' ? 'Kartica' : 'Gotovina' %>
                                               
                                            </td>
                                            <td>
                                                <%= n.naslov %>
                                               
                                            </td>
                                            <td>
                                                  <%=n.cena %> 
                                                  <i class="fa fa-eur"></i>
                                            </td>
                                          
                                            <td>
                                                <%=moment(n.datum_narocila).format('MMM-DD-YYYY')%>

                                            </td>
                                            <td>
                                                <div class="card-footer">
                                                    <a href='/narocila/<%=n.idNarocilo%>' class="btn btn-primary">Preberi več!</a>
                                                  </div>
                                            </td>
                                        </tr>
                                        <% }); %>
                                    </tbody>
                                </table>
                           

                        </div>

                   

                       
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<footer  style="background-color: #007bff;">
    <div class="container">
      <p class="m-0 text-center text-white">Isidora Đoković - RIS </p>
    </div>
    <!-- /.container -->
  </footer>
</script>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
<script type="text/javascript">
	
</script>
</body>
</html>