<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--  This file has been downloaded from bootdey.com    @bootdey on twitter -->
    <!--  All snippets are MIT license http://bootdey.com/license -->
    <title>Profil</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/home.css" rel="stylesheet">
    <link href="/stylesheets/profil.css" rel="stylesheet">

  
</head>

<body>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">


<div class="container bootstrap snippets bootdeys">
    <div class="row" id="user-profile">
        <div class="col-lg-3 col-md-4 col-sm-4">
            <div class="main-box clearfix">
                <% data.forEach(function(o) { %>
                <h2><%= o.naziv %></h2>
               
                <img src="/images/person.jpeg" alt="" class="profile-img img-responsive center-block">
               

                
                

              

                <div class="profile-message-btn center-block text-center">
                    <br></br>
                    <a href="#" class="btn btn-success">
                        <i class="fa fa-envelope"></i> Naroci
                    </a>
                </div>
            </div>
        </div>

        <div class="col-lg-9 col-md-8 col-sm-8">
            <div class="main-box clearfix">
                <div class="profile-header">
                    <h3><span>Podrobnosti</span></h3>
                   
                </div>
              
                <div class="row profile-user-info">
                    <div class="col-sm-8">
                        
                        <div class="profile-user-details clearfix">
                            <div class="profile-user-details-label">
                               Naziv
                            </div>
                            <div class="profile-user-details-value">
                                <%= o.naziv %>
                            </div>
                        </div>
                        <div class="profile-user-details clearfix">
                            <div class="profile-user-details-label">
                                Naslov
                            </div>
                            <div class="profile-user-details-value">
                                <%= o.naslov %>
                            </div>
                        </div>
                        <div class="profile-user-details clearfix">
                            <div class="profile-user-details-label">
                                Email
                            </div>
                            <div class="profile-user-details-value">
                                <%= o.elekstronski_naslov %>
                            </div>
                        </div>
                        <div class="profile-user-details clearfix">
                            <div class="profile-user-details-label">
                                Tel. stevilka
                            </div>
                            <div class="profile-user-details-value">
                                <%= o.tel_stevilka %>
                            </div>
                        </div>
                        <div class="profile-user-details clearfix">
                            <div class="profile-user-details-label">
                                Povprecna ocena
                            </div>
                            <div class="profile-user-details-value">
                                <%=ocena[0].ocena %>
                            </div>
                        </div>
                    </div>
                    <% }); %>
                </div>

                <div class="tabs-wrapper profile-tabs">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab-activity" data-toggle="tab">Meni</a></li>
                        <li><a href="#tab-friends" data-toggle="tab">Komentari</a></li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab-activity">

                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        <% meni.forEach(function(m) { %>
                                        <tr>
                                            <td class="text-center">
                                                <i class="fa fa-cutlery"></i>
                                            </td>
                                            <td>
                                                <%= m.Naziv %>
                                            </td>
                                            <td>
                                                <%= m.Opis %>
                                            </td>

                                            <td>
                                                <%= m.cena %>
                                            </td>
                                        </tr>
                                        <% }); %>
                                    </tbody>
                                </table>
                            </div>

                        </div>

                        <div class="tab-pane fade" id="tab-friends">
                            <ul class="widget-users row">
                                <% komentari.forEach(function(k) { %>

                                <li class="col-md-6">
                                    <div class="img">
                                        <img src="/images/person.jpeg" class="img-responsive"  alt="">
                                    </div>
                                    <div class="details">
                                        <div class="name">
                                            <%= k.ime %> <%= k.priimek %>  
                                        </div>
                                      <p><%= k.vsebina %></p>
                                        
                                    </div>
                                </li>
                                <% }); %>

                            </ul>
                            <br>
                            <% if (locals.user) { %>
                                <form action="" method="post" class="form-horizontal" id="commentForm" role="form"> 

                                    <div class="form-group">
                                        <label for="example-number-input" class="col-2 col-form-label">Ocena</label>
                                        <div class="col-10">
                                          <input class="form-control" name="ocena" type="number" min="1" max="5" id="ocena">
                                        </div>
                                      </div>

                                    <div class="form-group">
                                        <label for="komentar" class="col-sm-2 control-label">Komentar</label>
                                        <div class="col-sm-10">
                                          <textarea class="form-control" name="komentar" id="komentar" rows="5"></textarea>
                                        </div>
                                    </div>
                                   
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">                    
                                            <button class="btn btn-success btn-circle text-uppercase" type="submit" id="submitComment"><span class="glyphicon glyphicon-send"></span> Objavi</button>
                                        </div>
                                    </div>            
                                </form>
                      
                                <% } else{ %>
                               
                                <% } %>


                            
                        </div>

                       
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="container" style="margin-bottom: 10px !important; padding-bottom:100px;">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">

            </div>
                <div class="col-md-6" >
                    <a href="/" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                        Nazaj  </a>
                </div>
            </div>
        </div>
    </div>

    <footer  style="background-color: #007bff;">
        <div class="container">
          <p class="m-0 text-center text-white">Isidora Đoković - RIS </p>
        </div>
        <!-- /.container -->
      </footer>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">
	
</script>
</body>
</html>